<div id ="mainContent" class="row">
            <div class="col-xs-12">
                <div id="header" class ="row jumbotron">
                    <div class="col-xs-5"></div>
                    <div class="col-xs-2">{{title}}</div>
                    <div class="col-xs-5"></div>
                </div>
                <div id ="goals-container" class="row">
                    <div class="col-xs-5"></div>
                    <div class="col-xs-2"><a href="new_goal.html">New Goal</a></div>
                    <div class="col-xs-5"></div>
                </div>
            </div>
</div>
